.button {
    height: 56px;
    width: 15vw;
    cursor: pointer;
    transition: all 0.3s var(--animationCurve);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .button:before {
    content: '';
    transition: all 0.4s var(--animationCurve);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  .button:after {
    content: '';
    transition: all 0.4s var(--animationCurve);
    background: #0c6d87;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .button:hover,
  .button:focus {
    transform: scale(1.05);
    transition-duration: 0.4s;
  }
  
  .button:hover:after {
    background: rgba(51, 234, 255, 1);
  }
  .button:focus:after {
    background: #0c6d87;
  }
  
  .button:hover .button__icon {
    transform: translate3d(3px, 0, 0);
  }
  
  .button:focus:before {
    opacity: 1;
  }
  
  .button:active {
    transform: scale(1);
    transition-duration: 0.1s;
  }
  