
.text-animation{
  position: relative;
  display: inline-block;
  
  &:before, &:after {
    transition: all 1s ease;
    width: 0%;
  }
  
  &:before {
    content: " ";
    height: 20px;
    margin-bottom: -10px;
    position: absolute;
    bottom: 50%;
    right: -5%;
    background: white;
    z-index: -1;
    border-radius: 3px;
  }
  
  &:hover:before {
    width: 100%;
    background: blue;
  }
  
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: blue;
    overflow: hidden;
    border-radius: 2000px;
  }
  
  &:hover:after {
    width: 100%;
    border-radius: 0px;
    
  }
}