@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@layer base {
  body {
    font-family: 'Bebas Neue', cursive;
  }
  .list-item {
    padding-left: 4px;
    cursor: pointer;
  }
  .font-system-ui {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}
